<%- include('../../partials/header.ejs')%>

    <body>
        <%- include ('../../partials/navbar.ejs')%>
            <div class="container">
                <hr>
                <h1>Categorias</h1>
                <br>
                <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <% categories.forEach(categoria=>{%>
                        <tbody>
                            <tr>
                                <th scope="row" class="align-middle">
                                    <%= categoria.id%>
                                </th>
                                <td class="align-middle">
                                    <%= categoria.title%>
                                </td>
                                <td class="align-middle">
                                    <%= categoria.slug%>
                                </td>
                                <td class="align-middle">
                                    <a href="/admin/categories/edit/<%= categoria.id%>" class="btn btn-warning">Alterar</a>
                                    <form onsubmit="confirmarDelecao(event, this)" action="/categories/delete" method="POST" style="display:inline">
                                        <input type="hidden" name="id" value="<%= categoria.id%>">
                                        <button type="submit" class="btn btn-danger" name="delete">Deletar</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        <%})%>
                </table>
            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>

    <script>
        function confirmarDelecao(event, form){
            event.preventDefault()
            var decision = confirm('Realmente deseja deletar essa categoria?')
            if(decision){
                form.submit()
            }
        }
    </script>